@import "../../global.scss";

.resume {
  background-color: #3B8BEB;
  display: flex;
  color: white;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:50px;
    border-radius: 20px; 
    
    @include mobile{
      display:block;
      margin: 10px;
      text-align: center;
      
    }

  }
  .left {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile{
          font-size: 40px;
        }
      }
     
  }
}}