@import "../../global.scss";

.contact {
  background-color: #3aafa9;
  display: flex;
  color: white;

  .item {
    .right {
      padding-top: 10px;
    }
  }

  img {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: 20px;
  }

  .right {
    flex: 0.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    text-align: left;

    a{
      color: inherit;
    }

    p{
      font-size: 30px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      align-items: center;

      p{
        font-size:20px;
      }
    }
  }
  .left {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
    }
  }
}
