*{
    color: white;
}
.navbar{
    width: 100%;
    display: flex;
    height: 70px;
    background-color:#4056A1;
    position: fixed;
    top: 0;
    z-index: 2;
}

.wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.name{
    text-decoration: none;
    font-size:30px;
    font-weight: 700;
}