@import "../../global.scss";

.works {
  background-color: crimson;
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  color: white;

  ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    align-items: center;
    padding: 10px;
    border:solid 2px;
    border-radius: 10px;
    background-color: white;
  }
  
  .item{
    padding:10px;
  }

  @include mobile {
    display: contents;
    flex-direction: column;
    padding: 20px;
  }

  .item {
    .right {
      padding-top: 10px;
      display: flex;
      justify-content: center;
    }

    .fyf-logo {
      background-image: url("./fyflogo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      transition: 2s ease-in-out;

    }
    .fyf-logo:hover{
      transform: scale(1.2);
    }

    .read-me {
      background-image: url("./readme.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      transition: 2s ease-in-out;

    }
    .read-me:hover{
      transform: scale(1.2);
    }

    .google-book {
      background-image: url("./google-book.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      transition: 2s ease-in-out;

    }
    .google-book:hover{
      transform: scale(1.2);
    }

    .fitness-tracker {
      background-image: url("./nosql.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
	    transition: 2s ease-in-out;
      
    }

    .fitness-tracker:hover{
      transform: scale(1.2);
    }


  }
}

img {
  height: 300px;
  width: 300px;
  display: flex;
  border-radius: 20px;
  cursor:pointer;
}

@include mobile {
  display: contents;
  flex-direction: column;
  padding: 20px;

  .right {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding: 20px;
  }

  .item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
  }
}
