@import "../../global.scss";

.works {
  background-color: crimson;
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  position: relative;
  color: white;

  .item{
    
    .right{
      padding-top: 10px;
    }
  }

  img{
    height: 300px;
    display: flex;
    border-radius: 20px ;
  }

  @include mobile{
    display:contents;
    flex-direction: column;
    padding: 20px;

    .right{
      display: flex;
      justify-content: center;
      background-color: crimson;
      padding: 20px;  
    }

    .item{
      background-color: crimson;
      padding:20px;
    }
    
  }
  
}